<div class="row">
  <div class="col-sm-6" *ngFor="let a of data">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ a.title }}</h5>
        <p class="card-text">
          {{ a.body }}
        </p>
        <a class="btn btn-primary">Like</a> &nbsp;
        <a class="btn btn-success">Share</a> &nbsp;
        <a class="btn btn-danger">Subscribe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <app-accordion title="{{ a.title }}" *ngFor="let a of data">
    <p>{{ a.body }}</p>
  </app-accordion>
</div>
